<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title || "Project Blog" %></title>
    <link rel="stylesheet" href="styles.css">
    
</head>
<body>
    
    <header class="header">
     <a class="header-brand" href="/">
    <img src="" alt="" width="40" height="40" class="d-inline-block align-top" >
     </a>
     <h1 style="color: white;">Project Blog</h1>
        <nav class="navbar bg-body-tertiary">
         <div class="container-fluid">
          <a class="navbar-brand" href="/">
          <img src="/assets/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">Project Blog
            </a>
            </div>
        </nav>

     </header>

     
