
<aside class="sidebar">
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;"> <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"> 
    <svg class="bi pe-none me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg> <span class="fs-4">Histories</span> </a> <hr> <ul class="nav nav-pills flex-column mb-auto"> 
      <% hist.forEach(hist => { %>
        <li>
            <strong><%= hist.title %></strong> <br>
            <%= hist.body %>
            <div class="mt-2">
             <a href="/edit/<%= hist.id %>" class="btn btn-sm btn-warning">Edit</a>
             <form action="/delete/<%= hist.id %>" method="post" style="display:inline;">
            <button class="btn btn-sm btn-danger">Delete</button>
        </form>
      </div>
        </li>
      <% }); %>  
    </ul> <hr> <div class="dropdown"> <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> 
    <img src="assets/logo.png" alt="" width="32" height="32" class="rounded-circle me-2"> <strong>Project Blog</strong> </a> </div> </div>
</aside>