<%- include('partials/header.ejs', {title: "Home"}) %>


<div class="layout">

  <main>
    <h1>Tell us stories about your projects, nice errors or hellish bugs!</h1>

<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


  </main>

  <%- include('partials/sidebar') %>

</div>














<%- include('partials/footer.ejs') %>